{% extends 'myprofile/base.html' %}

{% block content %}
    <div class="profile">
        <div class="name">
            <h2>名前: 打田 圭志</h2>
            <h2>大学: 長崎県立大学 経営学部経営学科 2年</h2>
        </div>
        
        <div class="career">  
            <h2>経歴: </h2>
            <ul>
                <li>2023年10月から税理士を目指し始める</li>
                <li>2024年8月の試験終了後に税理士の道をやめ、プログラミングと投資を学び始める</li>
                <li>2024年12月会計2科目のうち簿記論のみ合格</li>
                <li>そして現在、投資意思決定をサポートするウェブアプリケーションを開発している</li>
            </ul>
        </div>

        <div class="research">
            <h2>研究: </h2>
            <h3>投資</h3>
            <ul>
                <li>Fundamental Analysis</li>
                <li>CAPM</li>
                <li>ETF</li>
                <li>Asset Alocation</li>
            </ul>
            <h3>プログラミング</h3>
            <ul>
                <li>Python</li>
                <li>HTML, CSS, JavaScript</li>
                <li>SQL</li>
            </ul>
        </div>

        <div class="hobby">
            <h2>趣味: </h2>
            <ul>
                <li>海外ドラマ</li>
                <p>'Friends' や 'Big Bang Theory'などのシットコムが好き<br>
                    あと'Doctor Who'</p>
                <li>洋書(Classic, SF, Misteryなど)を読むこと</li>
                <li>プログラミング</li>
            </ul>
        </div>

        <div class="book">
            <h2>好きな本: </h2>
            <ul>
                <li>"Murder on the Orient Express" by Agatha Christie</li>
                <li>"The Element of Investing" by Burton and Charles</li>
            </ul>
        </div>

        <div class="goal">
            <h2>夢: </h2>
            <p>とりあえず今はプログラマーになりたいと考えています。<br>しかし、まだまだ選択肢はあると思うのでいろいろ経験して本当にしたいことを見つけられたらなと思います。</p>
        </div>

        <div class="comment">
            <h2>ひとこと: </h2>
            <p>今までずっと一人でプロジェクトを進めてきたので、皆さんと会えることをとても楽しみにしています。お互いに頑張りましょう！</p>
        </div>
    </div>
{% endblock %}
